<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>OneShot</title>
    </head>
    <body>
        <h1>Testing</h1>
        <form method="POST", action="/anomaly">
            <input type="text" name="paragraph" placeholder="Enter here"/>
            <input type="submit" value="Submit"/>
        </form>
        <form method="POST", action="/summarize">
            <input type="text" name="summarization", placeholder="Summarize">
            <input type="submit" value="Submit"/>
        </form>
    </body>
</html>